:root {
    --space-cadet: #2d3047ff;
    --maize-crayola: #e8c547ff;
    --powder-blue: #a0cfd3ff;
    --cool-grey: #8d94baff;
    --mountbatten-pink: #9a7aa0ff;

    /* Palette 2 */
    --black: #0b0014;
    --off-white: #f5e9e2;
    --peach: #e3b5a4;
    --red: #d44d5c;
    --maroon: #773344;
}

@font-face {
    font-family: "kgblankspace";
    src: url("../fonts/KGBlankSpace/KGBlankSpaceSketch.ttf");
}

@font-face {
    font-family: "kgbrokenvessel";
    src: url("../fonts/kgbrokenvessel/KGBrokenVesselsSketch.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 18px;
}

body {
    /* background-color: var(--space-cadet); */
    background-color: var(--black);
    padding: 0 10vh;
}

.title {
    font-family: "kgblankspace";
    font-size: 2rem;
    color: var(--peach);
    padding: 2.5rem 0;
}

.main-title {
    font-family: "kgbrokenvessel";
    font-size: clamp(2rem, 10vw, 3.5rem);
    color: var(--maize-crayola);
}

header,
main {
    display: flex;
    flex-flow: column;
    width: 70%;
    margin: 0 auto;
}

.flex-center {
    text-align: center;
    justify-content: space-around;
}

.inline {
    display: flex;
    width: 100%;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.inline-flex-aboutme {
    display: inline-flex;
}

.kisuke {
    height: 30rem;
}

.text-block {
    height: fit-content;
    color: white;
    padding: 5% 2rem;
}

p {
    word-break: break-word;
}

.mark {
    color: yellowgreen;
}

.blob-wave {
    height: 2rem;
}

.techstack {
    margin: 2.5rem 0;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .kisuke {
        height: 10rem;
        justify-self: center;
        width: 100%;
    }
    .inline-flex-aboutme {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
    }
    main {
        width: 90%;
    }

    .text-block {
        width: 100%;
    }

    .title {
        text-align: center;
        padding: 1.5rem 0;
    }
    header {
        width: 90%;
    }
    .flex-center {
        justify-content: space-between;
    }
}
